<html lang="en" xmlns:th="http://thymeleaf.org">
<meta http-equiv="refresh" content="20">
<head>
    <meta charset="UTF-8">
    <title>All messages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/chats.css}" />
</head>
<body>
<div class="options">
    <form class="form" th:method="GET" th:action="@{menu/todo}">
        <input class="button" type="submit" value="Menu"/>
    </form>
    <form class="form" th:method="GET" th:action="@{/users/__${user_id}__/search/init_page}">
        <input class="button" type="submit" value="Search"/>
    </form>
</div>
<center>
    <div class="chat" th:each="chat_info : ${chats_info}">
        <form th:method="GET" th:action="@{${chat_info.getLink()}}">
            <h3 th:text="${chat_info.getName()}">Chat</h3>
            <p>(<span th:text="${chat_info.getLastMessage().getSender().getLogin}">Sender</span>):
                <span th:text="${chat_info.getLastMessage().getText()}">Message</span></p>
            <p>Sent at <span th:text="${chat_info.getLastMessage().getDispatchDate()}">Date</span>
                <span th:text="${chat_info.getLastMessage().getDispatchTime()}">Time</span></p>
            <input class="button" type="submit" value="Go to chat"/>
        </form>
    </div>
</center>

</body>
</html>