<html lang="en" xmlns:th="http://thymeleaf.org">
<meta http-equiv="refresh" content="20">
<head>
    <meta charset="UTF-8">
    <title>All messages</title>
</head>
<body>
<center>
    <p>List of all messages</p>
</center>
<hr>
<center>
<!--    <p th::text="${date}">date</p>-->
<!--    <p th::text="${date2}">date</p>-->
    <div th:each="chat : ${chats}">
        <p th:text="${chat.getName()}">Chat</p>
        <p>(<span th:text="${chat.getLastMessage().getSender().getLogin}">Date</span>):  <span th:text="${chat.getLastMessage().getText()}">Message</span></p>
        <p>Sent at <span th:text="${chat.getLastMessage().getDispatchDate()}">Date</span> <span th:text="${chat.getLastMessage().getDispatchTime()}">Time</span></p>
        <a th:href="${chat.getLink()}">Chat</a>
        <hr>
    </div>
</center>

</body>
</html>