<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/register_page.css}"/>
</head>
<body>
<form th:method="POST" th:action="@{/users/create_new_user}" th:object="${user}">
    <div class="home-container">
        <div class="home-container1">
            <input
                    type="text"
                    placeholder="login"
                    name="login"
                    class="home-login input"
                    th:field="*{login}"
                    autocomplete="off"
                    id="login"/>
            <div style="color: #1100ff" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error<br></div>
            <div style="color:#1100ff; font-size: 15px" th:if="${is_login_duplicated}">Such Login is already used<br>
            </div>
            <input
                    type="password"
                    placeholder="password"
                    name="password"
                    class="home-password input"
                    th:field="*{password}"
                    autocomplete="off"
                    id="password"/>
            <div style="color:#1100ff" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                Error<br></div>
            <input class="button" type="submit" value="Create"/>
        </div>
        <h1 class="home-text">BSU cool chat</h1>
    </div>
</form>

</body>
</html>