<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/search.css}"/>
</head>
<body>
<h1>Search</h1>
<form th:method="GET" th:action="@{/users/__${user_id}__/search}" th:object="${searching_user}">
    <input type="text" th:field="*{login}" autocomplete="off"><button type="button">
    <i class="fa fa-search" aria-hidden="true"></i>
</button>
    <div class="container">
        <ol>
            <div th:each="found_user : ${found_users}">
                <a th:href="@{/users/__${user_id}__/supervise/__${found_user.getId()}__}" th:text="${found_user.getLogin()}"> <li> user</li></a>
            </div>
        </ol>
        </div>
</form>

<form class="form" th:method="GET" th:action="@{/chats/__${user_id}__}">
    <input class="button" type="submit" value="Chats"/>
</form>
</body>
</html>