<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user.css}">
</head>
<body>
<div class="options">
    <form class="form" th:method="GET" th:action="@{/chats/__${user_id}__}">
        <input class="navigation_button" type="submit" value="Chats"/>
    </form>
</div>
<center>
    <div class="info">
        <div class="greeting">
            <h2 th:text="${supervising_user_info.getLogin()}">Login</h2>
        </div>
        <img th:src="@{/static/images/image.png}" class="avatar"/>
        <br>
        <p><span style="white-space: pre-line" th:text="${supervising_user_info.getAllInfo()}"></span></p>
        <form
                th:if="${user_id} != ${supervising_user_info.getId()}"
                th:method="POST"
                th:action="@{${supervising_user_info.getChatLink('__${user_id}__')}}">
            <input class="button" type="submit" value="Write message"/><br>
        </form>
        <form
                th:if="${user_id} == ${supervising_user_info.getId()}"
                th:method="GET"
                th:action="@{/users/__${user_id}__/modify}">
            <input class="button" type="submit" value="Edit profile"/><br>
        </form>
        <div th:if="${user_id} != ${supervising_user_info.getId()}">
            <form
                    th:if="${isRoot}"
                    th:method="POST"
                    th:action="@{/users/__${user_id}__/root_delete/__${supervising_user_info.getId()}__}">
                <input class="button" type="submit" value="Delete profile"/><br>
            </form>
        </div>
    </div>
</center>
</body>
</html>