body {
    background: url(/static/images/background.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Arial', serif;
    color: #0096cd;
}

div.info {
    text-align: center;
    background-color: rgba(245, 245, 245, 0.97);
    border: 2px solid #696969;
    padding: 5%;
    padding-top: 2%;
    width: 500px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 20pt;
    border-radius: 30px;
}

img.avatar {
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

div.greeting {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

input.button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(60%);
    padding: 20px;
    border: none;
    box-shadow: inset -3px -3px 10px 3px #01A9DB;
    background: #A9E2F3;
    text-align: center;
    font-size: 12pt;
    border-radius: 30px;
}

input.button:hover {
    background: #078ab0;
    box-shadow: inset -3px -3px 10px 3px #0f228f;
    color: #E0F8F7;
}

input.navigation_button {
    width: 110px;
    height: 50px;
    padding: 10px;
    border: none;
    box-shadow: inset -3px -3px 10px 3px #01A9DB;
    background: #A9E2F3;
    border-radius: 30px;
}

input.navigation_button:hover {
    background: #078ab0;
    box-shadow: inset -3px -3px 10px 3px #0f228f;
    color: #E0F8F7;
}

div.options {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
}