<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login_page.css}" />
    <title>Registration</title>
</head>
<body>
<center>
    <div class="options">
        <div class="greeting">
            <h2>BSU cool chat</h2>
        </div>
        <form th:method="POST" th:action="@{/log_in}" th:object="${user}">
            <label for="login">Login</label>
            <br>
            <input class="value" type="text" th:field="*{login}" id="login"/>
            <br>
            <label for="password">Password</label>
            <br>
            <input class="value" type="password" th:field="*{password}" id="password"/>
            <br>
            <input class="button" type="submit" value="Log in!"/><br>
        </form>
        <hr>
        <form th:method="GET" th:action="@{/users/new}">
            <input class="button" type="submit" value="Create account"/><br>
        </form>
    </div>
</center>

</body>
</html>